<div class="container">
  <div class="left">
    <h2>Set</h2>
    <a 
        mat-raised-button 
        color="primary" 
        (click)="set('foo', 'FOO')">
      Set Foo
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="remove('foo')">
      Delete Foo
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="remove()">
      Delete All
    </a>

    <a 
        mat-raised-button 
        color="primary" 
        (click)="set('doe', 'DOE')">
      Set Doe
    </a>

    <h2>Get</h2>
    <a 
        mat-raised-button 
        color="primary" 
        (click)="get()">
      Get Foo
    </a>
    
    <a 
        mat-raised-button 
        color="primary" 
        (click)="gets()">
      Get All
    </a>

  </div>
  <div class="right">
    <fieldset>
      <legend>
        Values
      </legend>
      {{values|json}}
    </fieldset>
  </div>
</div>